<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible"
		      content="ie=edge">
		<title>修改密码</title>
	</head>

	<body>
		<h1><span>
			<%= name %>,你好
		</span></h1>
		<p>
			<span>请点击以下链接修改密码。</span>
		</p>
		<em style="color: red">
			如果你没有申请修改密码，请不要点击以下链接！
		</em>
		<br>
		<br>
		<a href="<%= link %>">确认修改密码</a>
	</body>

</html>